.home {
  text-align: center;
}

.centered-content {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  opacity: 1; */
  position: absolute; /* Position the container absolutely */
  top: 0; /* Align the container to the top of the page */
  left: 0; /* Align the container to the left of the page */
  width: 100%; /* Set the width to 100% of its parent (the viewport) */
  height: 100%; /* Set the height to 100% of its parent (the viewport) */
  display: flex; /* Use flexbox for centering the image */
  justify-content: flex-start; /* Align items to the start (left) of the container */
  align-items: flex-start; 
  margin-left: 200px;
  margin-top: 100px;
}

.intro {
  margin-bottom: 800px;
}

.portfolio-image {
  width: auto;
  height: 350px;
  /* border-radius: 50%;  */
  margin-bottom: 2000px;
  margin-right: 900px;
  display: block;
  float: left;
}

.name,
.title {
  margin-top: 1%;
  color: white;
  font-size: larger;
}

body {
  background-color:rgb(53, 111, 193);
  font-size: large;
  cursor: default;
  margin: 0;
  padding: 0;
  color: white;
}

.about {
  /* color: white; */
  text-align: center;
  margin-top: 40%;
  margin-bottom: 40%;
  font-size: larger;
}

.projects {
  /* color: white; */
  text-align: center;
  margin-top: 40%;
  margin-bottom: 40%;
  font-size: larger;
}


.icon {
  width: 50px;
  height: 50px;
}

.skills-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30%;
  margin-top: 10%;
}

.skill {
  /* color: white; */
}

.resume {
  /* color: white; */
}

.about-me {
  width: 900px;
  margin: 0 auto;
}

.resume-img {
  width: 600px;
  height: 700px;
  margin-bottom: 20%;
  margin-top: 6%;
}

.tastebuds-video {
  width: 800px;
  height: 500px;
  margin-top: 6%;
}

.github {
  width: 50px;
  height: 50px;
}

.icon-container {
  display: flex;
}

/* need to make github and linkedin icons white instead of black */
.github,
.linkedin {
  width: 30px;
  /* Adjust the width as needed */
  height: 30px;
  /* Adjust the height as needed */
  margin-right: 10px;
  /* Adjust the spacing between icons as needed */
  /* margin-top: 10px; */
  /* background-color: white; */
}

.btn {
  background-color: black;
}

.aboutmebox {
  border: solid black;
  width: 700px;
  height: 300px;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 15px;
  /* padding-bottom: 6px; */
  background-color: white;
  margin-left: 600px;
  margin-top: 200px;
  color: black;
}