.home {
  text-align: center;
  font-family: 'Consolas', monospace;
}

.centered-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 1000px;
}

.portfolio-image {
  width: auto;
  height: 350px;
  border-radius: 50%;
  margin-top: 10%;
}

.name,
.title {
  margin-top: 1%;
  color: white;
  font-size: larger;
}

body {
  /* background-color: rgba(134, 94, 66, 0.908); */
  /* background-color: rgb(190, 177, 177); */
  background-color: rgb(158, 174, 186);
  font-size: large;
  cursor: default;
  font-family: 'Bebas Neue', sans-serif;
  margin: 0;
  padding: 0;
}

.about {
  /* color: white; */
  text-align: center;
  margin-top: 40%;
  margin-bottom: 40%;
  font-size: larger;
}

.projects {
  /* color: white; */
  text-align: center;
  margin-top: 40%;
  margin-bottom: 40%;
  font-size: larger;
}

.icon {
  width: 50px;
  height: 50px;
}

.skills-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30%;
  margin-top: 10%;
}

.skill {
  /* color: white; */
}

.resume {
  /* color: white; */
}

.about-me {
  width: 900px;
  margin: 0 auto;
}

.resume-img {
  width: 600px;
  height: 700px;
  margin-bottom: 20%;
  margin-top: 6%;
}

.tastebuds-video {
  width: 800px;
  height: 500px;
  margin-top: 6%;
}

.github {
  width: 50px;
  height: 50px;
}

.icon-container {
  display: flex;
}

.github,
.linkedin {
  width: 50px;
  /* Adjust the width as needed */
  height: 50px;
  /* Adjust the height as needed */
  margin-right: 10px;
  /* Adjust the spacing between icons as needed */
  margin-top: 10px;
}

.btn {
  background-color: black;
}