footer {
    background-color: rgb(117, 67, 43);
    color: #fff;
    /* padding-right: 10px; */
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  .footer-content {
    margin-top: 10px;
  }

  .email {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }

  .phone {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }

  .In {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }

  .link {
    color: white;
  }