    footer {
    background-color: rgb(212, 206, 206);
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
  } 

   .footer-content {
    margin-top: 10px;
  }

  .email {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }

  .phone {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    color: black;
  }

  .In {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }

  .link {
    color: black;
  } 
   